Port-Scanner-VS-Poject/Port-Scanner-VS-Poject.sln
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/Browse.VC.db-shm
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/DocumentLayout.backup.json
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/Browse.VC.opendb
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v16/Browse.VC.db
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v16/Browse.VC.db
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/.suo
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/Browse.VC.db
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/Browse.VC.db-wal
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/DocumentLayout.json
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/ipch/AutoPCH/22f1869fe438ba01/MAIN.ipch
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/ipch/AutoPCH/8ba21b64531ca4cc/THREADED-PORT-SCANNER-VS-PROJECT.ipch
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/ipch/AutoPCH/9c3a6480a3b7f11c/~MAIN.ipch
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/Solution.VC.db
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/Solution.VC.db-shm
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v18/Solution.VC.db-wal
Port-Scanner-VS-Poject/Debug/main.obj
Port-Scanner-VS-Poject/Debug/Port-Sca.c3100152.tlog/CL.read.1.tlog
Port-Scanner-VS-Poject/Debug/Port-Sca.c3100152.tlog/link.read.1.tlog
Port-Scanner-VS-Poject/Debug/Port-Sca.c3100152.tlog/Port-Scanner-VS-Poject.lastbuildstate
Port-Scanner-VS-Poject/Debug/Port-Scanner-VS-Poject.exe
Port-Scanner-VS-Poject/Debug/Port-Scanner-VS-Poject.ilk
Port-Scanner-VS-Poject/Debug/Port-Scanner-VS-Poject.pdb
Port-Scanner-VS-Poject/Debug/Threaded-Port-Scanner-VS-Project.exe
Port-Scanner-VS-Poject/Debug/Threaded-Port-Scanner-VS-Project.pdb
Port-Scanner-VS-Poject/Debug/vc142.idb
Port-Scanner-VS-Poject/Debug/vc142.pdb
*.db
*.obj
*.tlog
*.lastbuildstate
*.exe
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v16/Browse.VC.db
Port-Scanner-VS-Poject/Debug/main.obj
Port-Scanner-VS-Poject/Debug/Port-Sca.c3100152.tlog/CL.read.1.tlog
Port-Scanner-VS-Poject/Debug/Port-Sca.c3100152.tlog/link.read.1.tlog
Port-Scanner-VS-Poject/Debug/Port-Sca.c3100152.tlog/Port-Scanner-VS-Poject.lastbuildstate
Port-Scanner-VS-Poject/Debug/Port-Scanner-VS-Poject.exe
Port-Scanner-VS-Poject/Debug/Port-Scanner-VS-Poject.ilk
Port-Scanner-VS-Poject/Debug/Port-Scanner-VS-Poject.pdb
Port-Scanner-VS-Poject/Debug/vc142.idb
Port-Scanner-VS-Poject/Debug/vc142.pdb
*.sln
*.sln
*.vsidx
/Port-Scanner-VS-Poject/.vs
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v16/.suo
*.tlog
*.recipe
*.filters
*.user
*.vcxproj
*.idb
*.log
*.ilk
*.user
Port-Scanner-VS-Poject/Port-Scanner-VS-Poject.vcxproj.user
*.db
*.obj
*.tlog
*.tlog
*.lastbuildstate
*.exe
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v16/.suo
Port-Scanner-VS-Poject/.vs/Port-Scanner-VS-Poject/v16/Browse.VC.db
Port-Scanner-VS-Poject/Debug/main.obj
Port-Scanner-VS-Poject/Debug/Port-Sca.c3100152.tlog/CL.read.1.tlog
Port-Scanner-VS-Poject/Debug/Port-Sca.c3100152.tlog/link.read.1.tlog
Port-Scanner-VS-Poject/Debug/Port-Sca.c3100152.tlog/Port-Scanner-VS-Poject.lastbuildstate
Port-Scanner-VS-Poject/Debug/Port-Scanner-VS-Poject.exe
Port-Scanner-VS-Poject/Debug/Port-Scanner-VS-Poject.ilk
Port-Scanner-VS-Poject/Debug/Port-Scanner-VS-Poject.pdb
Port-Scanner-VS-Poject/Debug/vc142.idb
Port-Scanner-VS-Poject/Debug/vc142.pdb
Port-Scanner-VS-Poject/main.cpp
Port-Scanner-VS-Poject/Port-Scanner-VS-Poject.sln
Port-Scanner-VS-Poject/Port-Scanner-VS-Poject.vcxproj.user
Threaded-Port-Scanner-VS-Project/Debug/Threaded-Port-Scanner-VS-Project.vcxproj.FileListAbsolute.txt
